<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}essayAmplifier{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>

    /* header stuff */
    .sticky-top {
      position: sticky;
      top: 0;
      z-index: 1020;
    }

    /* Adjusted z-index */
    .dropdown {
      position: relative;
    }

    .dropdown-menu {
      z-index: 1020; /* adjust the value as needed */
    }

  </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
       <a class="navbar-brand col-lg-3 me-0" href="{% url 'home' %}">Tweet Guesser</a>
          <ul class="navbar-nav col-lg-6 justify-content-lg-center">
          </ul>
        </div>
      </div>
    </nav>



{% block content %}
  {% endblock %}

<!-- footer content -->
  {% block footer %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-11 col-md d-flex justify-content-end">
            <h5>TweetGuesser</h5>
        </div>
    </div>
</footer>
  {% endblock %}
  <!-- end of footer content -->


  <!-- bootstrap scripts DO NOT DELETE -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>