<!DOCTYPE html>
<html lang="en">
{% extends 'main/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Start{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/jumbotron/">



    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .btn-custom {
          background-color: #EBEDEF;
      }
    </style>


  </head>
  <body>

  <main>
<div>
    <div class="p-5 mb-4 bg-light rounded-3 ">
        <div class="container-fluid py-5 border rounded-3">
            <h1 class="display-5 fw-bold">Tweet Guessing Game</h1>
            <p class="col-md-8 fs-4">This game will provide 10 random tweets, can you tell right from wrong?</p>
            <a href="{% url 'show_image' %}" class="w-25 btn btn-md btn-custom">Start Game</a>
        </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3 border">
          <h2>How to Play</h2>
             <p>First, Click start game. Second, guess correctly. Third, win.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>About the Project</h2>
          <p>All about project documentation.</p>
          <a href="{% url 'about' %}" class="w-25 btn btn-sm btn-custom">Read Documentation</a>
        </div>
      </div>
    </div>
  </div>
</main>



  </body>
</html>

  {% endblock %}
  <!-- end of footer content -->


  <!-- bootstrap scripts DO NOT DELETE -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>